body {
  background-color: lightyellow;
}
.red-box {
  width:100px;
  height:200px;
  background-color: red;
}
.blue-box {
  width: 400px;
  height: 200px;
  background-color: #00D1AE;
}
#cover-box {
  background-color: black;
  color: pink;
  width: 100px;
  height: 50px;
}
